<div class="page-header">
  <h3>Expertise</h3>
</div>
<div class="page-header">
  <h4>Ruby</h4>
  <span class="tagline">Ruby, Rails, Sinatra, Padrino and more......</span>
</div>
<p>Having extensive working experience with ruby, got hands dirty in various ruby based framework and tools. Including (but not limited to) Ruby, Rails, Sinatra, Padrino, RSpec and Chef. Have been crafting enterprise products and contributing back to open source (for details visit Portfolio tab)</p>
<div class="page-header">
  <h4>Javascript</h4>
  <span class="tagline">jQuery, PhoneGap, Titanium, Mustache, Angular, NodeJS and ExpressJS</span>
</div>
<p>Having extensive experience in crafting front-end experience using JavaScript and awesome tools like AngularJS, NodeJS, ExtJS. Executed several mobile products using Appcelerator Titanium and PhoneGap.</p>
<div class="page-header">
  <h4>NoSql (MongoDB/CouchDB/Redis)</h4>
  <span class="tagline">NoSql Please!</span>
</div>
<p>Handled enormous amount of data using MongoDB/Redis, Having extensive knowledge on production deployment sharding/replication.</p>
<div class="page-header">
  <h4>Python</h4>
  <span class="tagline">Python, SciPy, NumPy, IPython</span>
</div>
<p>
  Having rigorous experience in using python and harnessing same in moulding Data Science products using IPython, NumPy, SciPy.
</p>
<div class="page-header">
  <h4>Golang</h4>
  <span class="tagline">Golang, Gobot and Docker</span>
</div>
<p>Started using Go language, in need of concurrency, it really promised. Authored some products and open source projects</p>
<div class="page-header">
  <h4>Deployment Automation</h4>
  <span class="tagline">Auto Pilot mode</span>
</div>
<p>
Having rigorous experience in deployment automation on various unix systems. I generally use vlad, capistrano and sometimes also write bash scripts
</p>
<div class="page-header">
  <h4>Version Control (Git)</h4>
  <span class="tagline">Git</span>
</div>
<p>
Having rigorous experience in distributed version control using Git. Devised multiple workflow suited to various teams. Have been upfront in best practices.
</p>
<div class="page-header">
  <h4>HTML5</h4>
  <span class="tagline">Offline, File access, Storage, Multimedia, Graphics and more ......</span>
</div>
<p>
I am not in design but love working on HTML5 that includes some cool features like storage multimedia and other features of HTML5
</p>
<div class="page-header">
  <h4>Speaker | Corporate Training</h4>
  <span class="tagline">Speaker, Mentor, etc..</span>
</div>
<p>I have been speaking on multiple technologies on best practices. I have been mentoring and training talent in industry.</p>
<div class="page-header">
  <h4>Project Delivery Management</h4>
  <span class="tagline">Umm...Getting shit done</span>
</div>
<p>
Posses skills in product delivery management using devised/destroted Agile methodology. Practising Scrum framework since 2009, Certified ScrumMaster®. Have experience is Scaled Agile framework. Moulded several distributed/cross-functional teams into Scrum framework.

Devised version control workflow and using code review tools to get best out of the team.
</p>
<div class="page-header">
  <h4>Interests...</h4>
  <span class="tagline">Elixir, Machine Learning, Pig Latin(Hadoop)..</span>
</div>
<p>
  Exploring <a href="http://elixir-lang.org/">Elixir</a><a href="http://elixir.bagwanpankaj.com/">(blog)</a>, Machine Learning, Pig latin and curious to get my hands on Data Science.
</p>
<p>If you wish to hire me, I can be reached through every means of communication, here is <a href="mailto:me@bagwanpankaj.com">one</a> </p>
