<div class="jumbotron">
  <!-- <img class="img-circle author-snap" src="/images/avatar-new.jpg" width="140" height="140"> -->
  <p class="lead">
    <span style="display: block; font-weight: bold">{{store.tagline}}</span>
    {{store.brief}}
  </p>
  <p class="lead">
    I live my <a href={{store.author.github}} target="_blank">code</a>, <a href={{store.author.twitter}} target="_blank">tweet</a> and <a href={{store.author.blog}} target="_blank">blog</a>.
  </p>
  <p class='forte'>
    My forte includes Ruby, Rails, Python, R, Golang, JavaScript, Elixir, NodeJS, Titanium (iPhone/iPad/Android), MongoDB, Redis, CouchDB, HTML5 and <a href="#/expertise">list goes on</a>
  </p>
  <ul id="socialize">
    <li class="twitter"><a href={{store.author.twitter}} title="@bagwanpankaj on Twitter"  target="_blank">Twitter</a></li>
    <li class="linkedin"><a href={{store.author.linkedin}} title="Linkedin Profile"  target="_blank">Linkedin</a></li>
    <li class="github"><a href={{store.author.github}} title="Bagwan Pankaj on Github"  target="_blank">Github</a></li>
    <li class="rubygems"><a href={{store.author.gems}} title="Bagwan Pankaj on RubyGems"  target="_blank">RubyGems</a></li>
    <li class="tumblr"><a href={{store.author.blog}} title="Bagwan Pankaj on Blog"  target="_blank">Blog</a></li>
  </ul>
</div>
<div style="clear:both"></div>
