<div class="page-header">
  <h3>Blogs/Publications</h3>
</div>
<div class="jumbotron">
  <p class="lead">I share my thoughts on blogs or as writings:</p>
  <p class="lead sublead">
    <a href="http://blog.bagwanpankaj.com" target="_blank">Technical Blog</a>
  </p>
  <p class="lead sublead">
    <a href="http://elixir.bagwanpankaj.com" target="_blank">Series for Elixir</a>
  </p>
  <p class="lead sublead">
    <a href="http://bagwanpankaj.com/trainings/b8a0ab28a25c1d6d9d883617d6f08117/go/training" target="_blank">Golang Slides</a>
  </p>
  <p class="lead sublead">
    <a href="http://github.com/bagwanpankaj" target="_blank">Github</a>
  </p>
  <p class="lead sublead">
    <a href="https://rubygems.org/profiles/bagwanpankaj" target="_blank">RubyGems</a>
  </p>
<!--           <p class="lead sublead">
    <a href="http://reduct.bagwanpankaj.com" target="_blank">Reduct: My approach to productivity</a>
  </p> -->
</div>
