<div class="page-header">
  <h3>Blogs/Writings</h3>
</div>
<div class="jumbotron">
  <p class="lead">I share my thoughts on blogs or as writings:</p>
  <p class="lead sublead">
    <a href="http://blog.bagwanpankaj.com" target="_blank">Technical Blog</a>
  </p>
  <p class="lead sublead">
    <a href="http://elixir.bagwanpankaj.com" target="_blank">Series for Elixir</a>
  <p>
<!--           <p class="lead sublead">
    <a href="http://reduct.bagwanpankaj.com" target="_blank">Reduct: My approach to productivity</a>
  </p> -->
</div>
